{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% for question in test.questions.all %}

    <h4>{{question}}</h4>
    <div class="form-check d-flex flex-column m-2">

        {% for variant in question.variants.all %}
            <div>
                <input class="form-check-input" type="radio" name="{{ question.id }}" id="{{ variant.id }}"
                    value="{{ variant.id }}">{{ variant }}
            </div>
        {% endfor %}

    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

{% endblock %}